@media (max-width: 319px) {
    #content{min-width: 320px; overflow: auto}
    .img-frame, .organisations .text-center .media-320{width: 100%; height: auto}
    .form{padding: 30px !important}
    .down_lists{width: 255px; margin: 0 auto}
    .down_lists .text-left{
        width: 115px;
    }
    .text-left img {
        float: right;
        vertical-align: middle;
        margin-top: -8px;
        margin-right: -5px;
    }
    .down_lists p>img {
        height: 30px;
        margin-right: 10px;
        margin-top: 10px;
    }
    .help .col-lg-3{text-align: center}
}
@media (min-width: 320px) and (max-width: 479px) {
    #is .form{height: auto}
    .step-2 .border, .step-3 .border{font-size: 10px}
    .form{padding: 30px !important}
    .down_lists .text-left{
        width: 115px;
    }
    .text-left img {
        float: right;
        vertical-align: middle;
        margin-top: -8px;
        margin-right: -5px;
    }
    .down_lists p>img {
        height: 30px;
        margin-right: 10px;
        margin-top: 10px;
    }

    .down_lists{width: 255px; margin: 0 auto}
    /*.img-2, .img-3{width: 100%;*/
        /*height: auto;}*/

    .media{text-align: center}

    .text-position {text-align: center}
    /* about page */
    .img-frame{width: 100% !important}
    .organisations .text-center .media-320{width: 100%; height: auto}
    .sign .btn {height: auto}

    /* help-edit page */
    .up{margin-top: 7px}
    .help .col-lg-3{text-align: center}
}
@media (min-width: 480px) and (max-width: 639px) {
    .img-frame{width: 100% !important}
    .form{padding: 50px !important}
    #is .form{height: auto}
    .down_lists{width: 371px; margin: 0 auto}
    .down_lists .text-left{
        width: 235px;
    }
    .text-left img {
        float: right;
        vertical-align: middle;
        margin-top: 0px;
        margin-right: -5px;
    }
    .down_lists p>img {
        height: 30px;
        margin-right: 10px;
        margin-top: 1px;
    }
    .help .col{width: 50%; float: left}
    .help .col-lg-3{text-align: center}
}
@media (min-width: 640px) and (max-width: 767px) {
    .help .col{width: 50%; float: left}
    .help .col-lg-3{text-align: center}
}

/* for signup section */
@media (min-width: 320px) and (max-width: 386px) {
    .sign input[type='email'] {
        margin-top: 10px;
    }
    .sign .btn {
        margin-top: 4px;
    }
}

@media (min-width: 387px) and (max-width: 435px) {
    .sign input[type='email'] {
        margin-top: 10px;
    }
    .sign .btn {
        margin-top: 10px;
    }
}