@media (max-width: 319px){
    .col-4xs-12 {width: 100%}
    .col-4xs-11 {width: 91.66666666666666%}
    .col-4xs-10 {width: 83.33333333333334%}
    .col-4xs-9 {width: 75%}
    .col-4xs-8 {width: 66.66666666666666%}
    .col-4xs-7 {width: 58.333333333333336%}
    .col-4xs-6 {width: 50%}
    .col-4xs-5 {width: 41.66666666666667%}
    .col-4xs-4 {width: 33.33333333333333%}
    .col-4xs-3 {width: 25%}
    .col-4xs-2 {width: 16.666666666666664%}
    .col-4xs-1 {width: 8.333333333333332%}
    .col-4xs-offset-12 {margin-left: 100%}
    .col-4xs-offset-11 {margin-left: 91.66666666666666%}
    .col-4xs-offset-10 {margin-left: 83.33333333333334%}
    .col-4xs-offset-9 {margin-left: 75%}
    .col-4xs-offset-8 {margin-left: 66.66666666666666%}
    .col-4xs-offset-7 {margin-left: 58.333333333333336%}
    .col-4xs-offset-6 {margin-left: 50%}
    .col-4xs-offset-5 {margin-left: 41.66666666666667%}
    .col-4xs-offset-4 {margin-left: 33.33333333333333%}
    .col-4xs-offset-3 {margin-left: 25%}
    .col-4xs-offset-2 {margin-left: 16.666666666666664%}
    .col-4xs-offset-1 {margin-left: 8.333333333333332%}
    .col-4xs-offset-0 {margin-left: 0}

    .organisations img {height: auto}
    .text-position{text-align: center !important;}

    .header img {width: 100%; height: auto}
    .features .text-center img {width: 100%; height: auto}
    .download .img img{width: 100%; height: auto;}
    .down_lists .postion{text-align: center; padding: 0}
    .down_lists .postion img{margin: 10px 0}
    .is .form {padding: 15px 0}
    .is .form .btn-dark{margin-bottom: 5px}
    .form{height: auto}
    .text {padding: 0 5px}
}

@media (min-width: 320px) and (max-width: 479px) {
    .col-3xs-12 {width: 100%}
    .col-3xs-11 {width: 91.66666666666666%}
    .col-3xs-10 {width: 83.33333333333334%}
    .col-3xs-9 {width: 75%}
    .col-3xs-8 {width: 66.66666666666666%}
    .col-3xs-7 {width: 58.333333333333336%}
    .col-3xs-6 {width: 50%}
    .col-3xs-5 {width: 41.66666666666667%}
    .col-3xs-4 {width: 33.33333333333333%}
    .col-3xs-3 {width: 25%}
    .col-3xs-2 {width: 16.666666666666664%}
    .col-3xs-1 {width: 8.333333333333332%}
    .col-3xs-offset-12 {margin-left: 100%}
    .col-3xs-offset-11 {margin-left: 91.66666666666666%}
    .col-3xs-offset-10 {margin-left: 83.33333333333334%}
    .col-3xs-offset-9 {margin-left: 75%}
    .col-3xs-offset-8 {margin-left: 66.66666666666666%}
    .col-3xs-offset-7 {margin-left: 58.333333333333336%}
    .col-3xs-offset-6 {margin-left: 50%}
    .col-3xs-offset-5 {margin-left: 41.66666666666667%}
    .col-3xs-offset-4 {margin-left: 33.33333333333333%}
    .col-3xs-offset-3 {margin-left: 25%}
    .col-3xs-offset-2 {margin-left: 16.666666666666664%}
    .col-3xs-offset-1 {margin-left: 8.333333333333332%}
    .col-3xs-offset-0 {margin-left: 0}

    .text-position{text-align: center !important;}
    .is .form {padding: 15px 0}
    .is .form .btn-dark{margin-bottom: 5px}
    .form{height: auto}

}

@media (min-width: 480px) and (max-width: 639px) {
    .col-2xs-12 {width: 100%}
    .col-2xs-11 {width: 91.66666666666666%}
    .col-2xs-10 {width: 83.33333333333334%}
    .col-2xs-9 {width: 75%}
    .col-2xs-8 {width: 66.66666666666666%}
    .col-2xs-7 {width: 58.333333333333336%}
    .col-2xs-6 {width: 50%}
    .col-2xs-5 {width: 41.66666666666667%}
    .col-2xs-4 {width: 33.33333333333333%}
    .col-2xs-3 {width: 25%}
    .col-2xs-2 {width: 16.666666666666664%}
    .col-2xs-1 {width: 8.333333333333332%}
    .col-2xs-offset-12 {margin-left: 100%}
    .col-2xs-offset-11 {margin-left: 91.66666666666666%}
    .col-2xs-offset-10 {margin-left: 83.33333333333334%}
    .col-2xs-offset-9 {margin-left: 75%}
    .col-2xs-offset-8 {margin-left: 66.66666666666666%}
    .col-2xs-offset-7 {margin-left: 58.333333333333336%}
    .col-2xs-offset-6 {margin-left: 50%}
    .col-2xs-offset-5 {margin-left: 41.66666666666667%}
    .col-2xs-offset-4 {margin-left: 33.33333333333333%}
    .col-2xs-offset-3 {margin-left: 25%}
    .col-2xs-offset-2 {margin-left: 16.666666666666664%}
    .col-2xs-offset-1 {margin-left: 8.333333333333332%}
    .col-2xs-offset-0 {margin-left: 0}

    .text-position{text-align: center !important}
    .is .form {padding: 30px 20px}
    .is .form .btn-dark{margin-bottom: 10px}
    .form{height: 560px}
}

@media (min-width: 640px) and (max-width: 767px) {
    .col-xs-12 {width: 100%}
    .col-xs-11 {width: 91.66666666666666%}
    .col-xs-10 {width: 83.33333333333334%}
    .col-xs-9 {width: 75%}
    .col-xs-8 {width: 66.66666666666666%}
    .col-xs-7 {width: 58.333333333333336%}
    .col-xs-6 {width: 50%}
    .col-xs-5 {width: 41.66666666666667%}
    .col-xs-4 {width: 33.33333333333333%}
    .col-xs-3 {width: 25%}
    .col-xs-2 {width: 16.666666666666664%}
    .col-xs-1 {width: 8.333333333333332%}
    .col-xs-offset-12 {margin-left: 100%}
    .col-xs-offset-11 {margin-left: 91.66666666666666%}
    .col-xs-offset-10 {margin-left: 83.33333333333334%}
    .col-xs-offset-9 {margin-left: 75%}
    .col-xs-offset-8 {margin-left: 66.66666666666666%}
    .col-xs-offset-7 {margin-left: 58.333333333333336%}
    .col-xs-offset-6 {margin-left: 50%}
    .col-xs-offset-5 {margin-left: 41.66666666666667%}
    .col-xs-offset-4 {margin-left: 33.33333333333333%}
    .col-xs-offset-3 {margin-left: 25%}
    .col-xs-offset-2 {margin-left: 16.666666666666664%}
    .col-xs-offset-1 {margin-left: 8.333333333333332%}
    .col-xs-offset-0 {margin-left: 0}
    .sign-text.text-position{text-align: right !important;}
    .is .form {padding: 30px 20px}
    .is .form .btn-dark{margin-bottom: 10px}
    .form{height: 560px}
}

@media (min-width: 992px){
    .col-md-ref-offset-0{margin-left: 2%}
    .col-md-ref-offset-1{margin-left: 10% !important}
    .col-md-ref-offset-2{margin-left: 30% !important}
    .col-md-ref-offset-3{margin-left: 12.5% !important}
    .col-md-ref{width: 20%; position: relative; min-height: 1px; padding-right: 15px; padding-left: 15px;}
    .sign-text.text-position{text-align: right !important;}
    .form{height: 580px}
}

@media (min-width: 768px) and (max-width: 992px) {
    .form{height: 600px}
}

@media (min-width: 992px) and (max-width: 1199px) {
    .form{height: 540px}
}
@media (min-width: 1200px) {
    .form{height: 550px}
}

@media (min-width: 768px){
    .col-sm-ref-offset-0 {margin-left: 2%}
    .col-sm-ref-offset-1 {margin-left: 6%}
    .col-sm-ref-offset-2 {margin-left: 30%}
    .col-sm-ref{width: 20%; position: relative; min-height: 1px; padding-right: 15px; padding-left: 15px;}
    .sign-text.text-position{text-align: right !important;}
}

@media (max-width: 767px){

}

@media (min-width: 350px) and (max-width: 479px){
    .down_lists .col-3xs-9{width: 63%}
    .down_lists .col-3xs-3{width: 37%; padding-left: 0}
}

@media (min-width: 320px) and (max-width: 349px){
    .down_lists .col-3xs-9, .down_lists .col-3xs-3{width: 100%}
    .down_lists .postion{text-align: center}
    .down_lists .postion img{margin: 10px 0}
}
