body{padding-top: 70px; padding-bottom: 0 !important; margin: 0}
html, body{overflow-x: hidden}
span{font-weight: bold}
.left{float: left}
.right{float: right}
.navbar-header .navbar-brand, .navbar-collapse .navbar-nav > li > a{color: #fff}
.using li a, .using li a:hover, .head-link a, .head-link a:hover{color: #000; text-decoration: underline}
.white{background: #fff; color: #000;}
.grey{background: #efefef; color: #000;}
.grey-1{background: #999999;color: #fff !important}

/* button style */
.btn-dark{background: #000; color: #fff !important; border-radius: 5px; margin-bottom: 30px; white-space: normal}
.title{font-size: 16px !important; cursor: default; border-radius: 0 !important}
.btn-grey{background: #AAA; color: #fff; border-radius: 0; margin-bottom: 15px; font-weight: bold}
.btn-dark:hover, .btn-dark:focus, .btn-grey:hover, .btn-grey:focus{color: #fff;text-decoration: none}

/* section style */
.content{padding: 60px 0; font-size: 14px; margin-bottom: 0;}

/* footer content */
.panel-footer{background: #555; padding-bottom: 0; margin-bottom: 0; border-radius: 0; padding-top: 30px !important; border-top: 0}
.panel-footer h4 a{color: #fff; font-weight: bold; text-decoration: underline}
.panel-footer ul{list-style: none; padding: 0}
.panel-footer .container{padding-bottom: 100px}
.panel-footer ul li{font-size: 14px;text-decoration: none; color: #fff}
.contact{background: #000; text-align: center}
.contact a{text-align: center; font-size: 14px; color: #fff; border-left: 1px solid #fff; padding: 0 10px}
.contact a:first-child{border-left: 0}

/* index page */
.header h2, .header p {color: #000; font-weight: bold}
.header img {height: 60px}
.carousel-control.left, .carousel-control.right {background: none; width: 2%}
.slide {background: #eee; color: inherit}
.features .text-center img {height: 250px}
.download .img{text-align: center}
.download .img img{margin-bottom: 30px}
.down_lists .btn {font-size: 12px; margin-bottom: 0}
.text-left img {float: right}
.down_lists .img-1, .down_lists .img-2, .down_lists .img-3{height: 30px; margin-top: 1px; margin-bottom: 10px}
.slideshow{width: 200px; height: 390px; background: url(../images/img-4.png); background-position: center; background-size: 100% 100%; padding: 68px 15px 58px 15px; margin-bottom: 20px !important}
.slideshow .item img{width: 100%; height: auto}
.selector {position: relative; bottom: 0; left: 0; z-index: 15; width: auto; padding-left: 0; margin-left: 0; text-align: left; list-style: none}
.selector li {display: inline-block; width: 100% !important; height: auto !important; margin: 0; text-indent: 0px; cursor: pointer; background-color: transparent; background-color: transparent; border: 0px; border-radius: 0px}
.selector .active {font-weight: bold; background: transparent; border: 0}
.postion{text-align: right}
.text-left {text-align: left !important}
.offset-marge {margin: 0 auto; float: none;margin-bottom: 25px}
.is .form{padding: 60px 80px}
.form{height: 600px}
.form p{font-size: 18px}
.form .text-content{margin-bottom: 30px}
.form .btn{width: 100%; white-space: normal}
.offset{margin: 0 auto; float: none}
.text{height: 260px; display: table-cell; vertical-align: middle; float: none; border: 5px solid #AAA; padding: 0 30px}
.text p{text-align: center; width: 1600px; vertical-align: middle; display: table-cell}
.step-progress img {width: 100%}
.back, .option, .sub-back{display: inline-block; margin-bottom: 0; font-size: 14px; font-weight: normal; line-height: 1.428571429; text-align: center; vertical-align: middle; cursor: pointer; background-image: none; border: 1px solid transparent; border-radius: 4px; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; -o-user-select: none; user-select: none; color: #000; text-decoration: underline}
.option{font-weight: bold; width: 100%}
.back:hover, .back:active, .option:hover, .option:active, .sub-back:hover, .sub-back:active{color: #000}
.step-5 .link{text-decoration: underline}
.step-5 .link:hover{color: #000}
.border{border: 5px solid #ff0000;}

/* sign section */
.sign {font-size: 14px; line-height: 1em; padding: 10px 0 !important; margin: 0}
.sign-text {font-size: 18px; font-weight: bold; color: #fff !important; padding: 0; margin: 5px 0 !important; line-height: 1.4em}
.sign input[type='email'] {width: 100%; line-height: 1em; height: 25px; font-size: 14px; outline: none}
.sign p{margin: 5px 0}
.sign .btn {margin: 0; font-size: 12px; line-height: 1em}

/* about page */
.img-frame {padding: 10px; background: #efefef; width: 320px; margin: 5px 0 15px 15px}
.img-frame img {width: 100%}
.img-frame p { font-size: 12px; color: #b2b2b2; padding-top: 5px; margin-bottom: 0}
.organisations img {height: 60px; margin: 30px 0}

/* help-edit page*/
.installation a, .configuration a {color: #000; text-decoration: underline; cursor: pointer; outline: none}
.black {background: #555; margin-top: 20px; margin-bottom: 20px}
.black img {height: 40px; margin: auto; position: absolute; top: 0; bottom: 0}
.black p {color: #fff !important; font-size: 16px; font-weight: bold; margin-left: 55px; padding: 10px 0; margin-bottom: 0}
.sub-link {font-size: 16px}
.configuration .text-center img {padding: 30px 0; height: 300px}

/* top link */
.top{padding-right: 0; padding-left: 0}
.top p{margin-top: 8px}